* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.background {
    margin: auto 0;
    box-sizing: border-box;
    background-image: url('./img/background.jpeg');
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
body{
    background-color: #17191C;
}
.container{
    margin: 0 auto;
    width: 70%;
    
}
.logo{
    width: 198px;
    height: 46px;
    top: 21px;
    left: 389px;
    gap: 0px;
    opacity: 0px;
    mix-blend-mode: multiply;

}

.nav-bar{
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20;
}

.fist_page_text{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

.title{
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-top: 60px;
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

.subtitle{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.title-button{
    background-color: #FF3D00;
    color: white;
    padding: 20px 40px;
    border: none;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}





.second_page{
    display: flex;
}

.card{
    margin: 10% 20px;
    width: 362px;
    height: 376px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.card_title{
    font-size: 38px;
    padding-top: 100px;
}
.card_subtitle{
    color: grey;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.subtitle_text{
    width: 40%;
}

.second_subtitle{
    color: gray;
    margin-bottom: 10px;
    
}

.card_button{
    margin-top: 10px;
    border:1px solid #FF3D00;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #FF3D00;
}
.card_button:hover{
    background-color: #FF3D00;
    color: #fff;
}